EXPO_PUBLIC_FIREBASE_API_KEY=YOUR_FIREBASE_API_KEY\nEXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=YOUR_FIREBASE_AUTH_DOMAIN\nEXPO_PUBLIC_FIREBASE_PROJECT_ID=YOUR_FIREBASE_PROJECT_ID\nEXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=YOUR_FIREBASE_STORAGE_BUCKET\nEXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=YOUR_FIREBASE_MESSAGING_SENDER_ID\nEXPO_PUBLIC_FIREBASE_APP_ID=YOUR_FIREBASE_APP_ID\nEXPO_PUBLIC_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY\nEXPO_PUBLIC_PUSH_API_URL=YOUR_CLOUD_FUNCTION_PUSH_API_URL
